<h3 style="margin-top: 10px;">Find friends</h3>
<div class="example-form ">
    <mat-form-field class="example-full-width">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option.name">
                {{option.name}}

                <button class="sendreqbtn" mat-stroked-button color="warn">send Request</button>
                <button class="viewbtn" (click)="fn_View(option)" mat-stroked-button color="primary">View
                    profile</button>


            </mat-option>
        </mat-autocomplete>

        <input matInput type="text" class="form-control  " [matAutocomplete]="auto"
            placeholder="search with name or username" (input)="valuechangeMaterial($event.target.value)"
            (input)="fnSearch()" [(ngModel)]="friends.search">
    </mat-form-field>
</div>
<!-- <mat-list>
	<mat-list-item *ngFor="let friend of friendlist">
		<img matListAvatar src="{{friend.imgurl}}" alt="Photo">
		<h3 matLine> {{friend.name}} </h3>
		<p matLine>
			<span> {{friend.username}} </span>
            <span class="btn"><button mat-button >Message</button> </span>
			<span class="btn"><button mat-button color="primary" (click)="fn_View(friend)">View Profile</button> </span>
            
        </p>
        <mat-divider></mat-divider>
	</mat-list-item>
</mat-list> -->
<mat-card class="example-card" *ngFor="let friend of friendlist">
    <mat-card-header>
        <mat-icon (click)="fn_View(friend)">chat_bubble_outline</mat-icon>
        <mat-icon (click)="fn_View(friend)">visibility</mat-icon>

        <img mat-card-avatar src="{{friend.imgurl}}">
        <mat-card-title>{{friend.name}}</mat-card-title>
        <mat-card-subtitle>{{friend.username}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>