<div layout-gt-sm="column">
    <mat-card style="background-color: #673ab7;" flex-gt-sm *ngFor="let item of userdata">
        <div layout-gt-xs="row">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title> {{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.username}}</mat-card-subtitle>
                    <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
                    <mat-card-subtitle>{{item.mobile}}</mat-card-subtitle>
                    <!-- <mat-card-subtitle>{{item.}}</mat-card-subtitle>    -->


                    <img mat-card-lg-image class="image" src="{{item.imgurl}}">
                    <!-- <img mat-card-lg-image [src]="transform()"> -->





                </mat-card-title-group>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button color="warn" class="text-upper" (click)="uploadFiles()">Update</button>
			<button mat-button class="text-upper" (click)="uploader.click()">select image</button>
            <input #uploader hidden type="file" (change)="fileChangeEvent($event)" />
            <button *ngIf="!isHiddenb" mat-button color="warn" class="text-upper">BLOCK</button>
            <button *ngIf="!isHiddenb" mat-button class="text-upper">Messasge</button>
        </mat-card-actions>
    </mat-card>


    <mat-grid-list cols="2" *ngIf="imagecrop == true">
        <mat-grid-tile>
      
          <mat-card>
            <img mat-card-lg-image class="mat-card-lg-image" [src]="croppedImage" />
      
            <image-cropper mat-card-lg-image [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
              [resizeToWidth]="256" [aspectRatio]="1/1" format="png" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
      
              <input #uploader hidden type="file" (change)="fileChangeEvent($event)" />
      
            </image-cropper>
      
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    
    <mat-card flex-gt-sm>
        <!-- <img mat-card-lg-image [src]="item.image"> -->



        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let item of userpost">
                <div>
                    <img mat-card-lg-image src="{{item.image}}">

                    <button mat-button color="warn" class="text-upper" *ngIf="!isHidden" (click)="fn_delete(item)">delete</button>
                </div>

            </mat-grid-tile>
        </mat-grid-list>


    </mat-card>
</div>